<!DOCTYPE html>
<html>
    <head>
        <title>E-Ration</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="vendors/css/normalize.css">
        <link rel="stylesheet" href="vendors/css/html5reset.css">
        <link rel="stylesheet" href="vendors/css/col.css">
        <link rel="stylesheet" href="vendors/css/9cols.css">
        <link rel="stylesheet" href="vendors/css/8cols.css">
        <link rel="stylesheet" href="vendors/css/7cols.css">
        <link rel="stylesheet" href="vendors/css/6cols.css">
        <link rel="stylesheet" href="vendors/css/5cols.css">
        <link rel="stylesheet" href="vendors/css/4cols.css">
        <link rel="stylesheet" href="vendors/css/2cols.css">
        <link rel="stylesheet" href="vendors/css/3cols.css">
        <link rel="stylesheet" href="vendors/css/12cols.css">
        <link rel="stylesheet" href="vendors/css/10cols.css">
        <link rel="stylesheet" href="vendors/css/11cols.css">
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <img class="logo" src="resources/img/logo2.png" alt="logo-img">
                    <ul class="main-nav">
                        <li> <a href="#section-city">Place Order</a></li>
                        <li> <a href="https://docs.google.com/forms/d/e/1FAIpQLSdUZsyfeKiNCrWeQlHNLQOaallUYu_Nb51nMJyPWB7bIGgfXA/viewform?usp=sf_link">Feedback Form </a></li>
                        <li> <a href="orderhistory.html">Order History</a></li>
                        <li> <a href="#">Log out</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero-text-box">
                <h1>One Nation<br> One Ration Card </h1>
            </div>
        </header>
        <section class="section-cities" id= "section-city">
            <div class="row">
                <h2>Ration shops available</h2>
            </div>
            <div class="row">
                <div class="col span_1_of_4 box">
                    <img src="resources/img/shop4.jpeg" alt="shop-image">
                    <a href="shop1.html">Shop-1</a>
                    <div class="city-feature">
                        <br>
                        <ion-icon class="icon-small" name="person-add"></ion-icon>
                         200+ customers
                    </div>
                    <div class="city-feature">
                        <ion-icon class="icon-small" name="star"></ion-icon>
                        4.5
                    </div>
                    <div class = "place-order">
                        <button style="
                            background-color: #45b0fc; /* Sky blue */
                            color: black;
                            padding: 10px 20px; /* Adjust padding as needed */
                            border: none;
                            font-weight: bold;
                            border-radius: 5px; /* Adjust border-radius for desired corner roundness */
                            font-size: 16px; /* Adjust font size as needed */
                            cursor: pointer; /* Indicate clickable behavior */
                            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                            ">
                            Order Now
                        </button>
                    </div>
                </div>
                <div class="col span_2_of_4 box">
                    <img src="resources/img/shop4.jpeg" alt="shop-image">
                    <a href="shop2.html">Shop-2</a>
                    <div class="city-feature">
                        <br>
                        <ion-icon class="icon-small" name="person-add"></ion-icon>
                         100+ customers
                    </div>
                    <div class="city-feature">
                        <ion-icon class="icon-small" name="star"></ion-icon>
                        4 
                    </div>
                    <div class = "place-order">
                        <button style="
                            background-color: #45b0fc; /* Sky blue */
                            color: black;
                            padding: 10px 20px; /* Adjust padding as needed */
                            border: none;
                            font-weight: bold;
                            border-radius: 5px; /* Adjust border-radius for desired corner roundness */
                            font-size: 16px; /* Adjust font size as needed */
                            cursor: pointer; /* Indicate clickable behavior */
                            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                            ">
                            Order Now
                        </button>
                    </div>
                </div>
                <div class="col span_3_of_4 box">
                    <img src="resources/img/shop4.jpeg" alt="shop-image">
                    <a href="shop3.html">Shop-3</a>
                    <div class="city-feature">
                        <br>
                        <ion-icon class="icon-small" name="person-add"></ion-icon>
                         250+ customers
                    </div>
                    <div class="city-feature">
                        <ion-icon class="icon-small" name="star"></ion-icon>
                        4.4 
                    </div>
                    <div class = "place-order">
                        <button style="
                            background-color: #45b0fc; /* Sky blue */
                            color: black;
                            padding: 10px 20px; /* Adjust padding as needed */
                            border: none;
                            font-weight: bold;
                            border-radius: 5px; /* Adjust border-radius for desired corner roundness */
                            font-size: 16px; /* Adjust font size as needed */
                            cursor: pointer; /* Indicate clickable behavior */
                            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                            ">
                            Order Now
                        </button>
                    </div>
                </div>
                <div class="col span_4_of_4 box">
                    <img src="resources/img/shop4.jpeg" alt="shop-image">
                    <a href="shop4.html">Shop-4</a>
                    <div class="city-feature">
                        <br>
                        <ion-icon class="icon-small" name="person-add"></ion-icon>
                         130+ customers
                    </div>
                    <div class="city-feature">
                        <ion-icon class="icon-small" name="star"></ion-icon>
                        4.6 
                    </div>
                    <div class = "place-order">
                        <button style="
                            background-color: #45b0fc; /* Sky blue */
                            color: black;
                            padding: 10px 20px; /* Adjust padding as needed */
                            border: none;
                            font-weight: bold;
                            border-radius: 5px; /* Adjust border-radius for desired corner roundness */
                            font-size: 16px; /* Adjust font size as needed */
                            cursor: pointer; /* Indicate clickable behavior */
                            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                            ">
                            Order Now
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>